* {
	margin: 0px;
	padding: 0px;
}

header {
	width: 384px;
	height: 160px;
	text-align: center;
	background: url(http://little.alexforey.com/onthisday/divide.png) no-repeat center 120px;
}

body {
	max-width: 384px;
	width: 384px;
	font-family: 'Crimson';
}

h1 {
	font-size: 58px;
	margin-top: 20px;
}

h1 em {
	font-weight: bold;
}

h3 {
	font-size: 18px;
	margin-top: -8px;
	font-weight: bold;
}

h2 {
	font-size: 30px;
	margin-top: 8px;
}

#content {
	width: 384px;
	margin: 0px 0px;
}

.item {
	padding-top: 10px;
	padding-bottom: 15px;
	background: url(http://little.alexforey.com/onthisday/dotted_line.png) no-repeat bottom center;
}

.item h4 {
	text-align: center;
	margin-bottom: 10px;
	font-size: 40px;
}

.item p {
	text-align: left;
	font-size: 30px;
	line-height: 1.1;
}

.item:last-child {
    background: url(http://little.alexforey.com/onthisday/thick_line.png) no-repeat bottom center;
}

.announcement {
	border: 4px dashed black;
	padding: 10px;
	margin-top: 15px;
}

.announcement h3 {
	text-align: center;
	margin: 6px 0;
}

.announcement p {
	line-height: 1.2;
}

footer {
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}